<%= simple_form_for([:admin, @vehicle]) do |f| %>

  <div class="form-inputs">
    <%= f.input :vehicle_make %>
    <%= f.input :vehicle_model_title %>
    <%= f.input :vehicle_model_descritpion %>
    <%= f.input :start_year %>
    <%= f.input :end_year %>
    <%= f.input :with_breaks %>
    <%= f.input :ball_mass_max %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
