<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Vehicle</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_admin_vehicle_path(@vehicle) %>">Edit</a>
  </div>
</div>
<hr>
<p>
  <strong>Vehicle make:</strong>
  <%= @vehicle.vehicle_make %>
</p>

<p>
  <strong>Vehicle model title:</strong>
  <%= @vehicle.vehicle_model_title %>
</p>

<p>
  <strong>Vehicle model descritpion:</strong>
  <%= @vehicle.vehicle_model_descritpion %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @vehicle.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @vehicle.end_year %>
</p>

<p>
  <strong>Rev:</strong>
  <%= @vehicle.rev %>
</p>

<p>
  <strong>Vmltm no brakes:</strong>
  <%= @vehicle.vmltm_no_brakes %>
</p>

<p>
  <strong>Vmltm with breaks:</strong>
  <%= @vehicle.vmltm_with_breaks %>
</p>

<p>
  <strong>Vmltm balll mass:</strong>
  <%= @vehicle.vmltm_balll_mass %>
</p>

<p>
  <strong>Conditions:</strong>
  <%= @vehicle.conditions %>
</p>

<p>
  <strong>Vehicle kerb mass:</strong>
  <%= @vehicle.vehicle_kerb_mass %>
</p>

<p>
  <strong>Gvm:</strong>
  <%= @vehicle.gvm %>
</p>

<p>
  <strong>Gcm:</strong>
  <%= @vehicle.gcm %>
</p>

<p>
  <strong>Roof load:</strong>
  <%= @vehicle.roof_load %>
</p>

<p>
  <strong>Body type:</strong>
  <%= @vehicle.body_type %>
</p>
