<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Vehicle</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_admin_vehicle_path(@vehicle) %>">Edit</a>
  </div>
</div>
<hr>
<p>
  <strong>Vehicle make:</strong>
  <%= @vehicle.vehicle_make %>
</p>

<p>
  <strong>Vehicle model title:</strong>
  <%= @vehicle.vehicle_model_title %>
</p>

<p>
  <strong>Vehicle model descritpion:</strong>
  <%= @vehicle.vehicle_model_descritpion %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @vehicle.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @vehicle.end_year %>
</p>


<p>
  <strong>With breaks:</strong>
  <%= @vehicle.with_breaks %>
</p>

<p>
  <strong>Ball mass:</strong>
  <%= @vehicle.ball_mass_max %>
</p>
