<%= search_form_for @search do |f| %>
  <div class="row">
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Price Min</label>
        <%= f.search_field :display_price_gteq, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Price Max</label>
        <%= f.search_field :display_price_lteq, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Capacity</label>
        <%= f.search_field :capacity_gteq, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Max Ball Mass</label>
        <%= f.search_field :ball_weight_lteq, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Max With Breaks</label>
        <%= f.search_field :tare_lteq, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2 col-6">
      <div class="form-group">
        <label>Type</label>
        <select name="q[type_a_cont]" class="form-control">
          <%= options_for_select([["All", ""], "OFF ROAD", "ON ROAD"], params[:q][:type_a_cont]) %>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label style="">Inclusions</label>
        <select name="inclusions[]" class="select2 form-control" multiple="true">
          <%= options_for_select(Camper::INCLUSIONS, params[:inclusions]) %>
        </select>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-outline-primary">
      Search
    </button>
  </div>
<% end %>
<br>
<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Campers</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
    <a class="btn btn-outline-primary" href="#">Contact Us</a>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Version</th>
        <th>Display price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @campers.each do |camper| %>
      <tr>
        <td><%= camper.brand %></td>
        <td><%= camper.model %></td>
        <td><%= camper.version %></td>
        <td><%= camper.display_price %></td>
        <td>
          <a class="btn btn-outline-success btn-sm"
            href="<%= camper_path(camper) %>">
            Show
          </a>
        </td>
      </tr>
      <% end %>
      <% if @campers.blank? %>
      <tr>
        <td colspan="4">Not found any campers</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
