<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Campers</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
      <a class="btn btn-outline-primary" href="<%= edit_admin_camper_path(@camper) %>">Edit</a>
  </div>
</div>
<hr>

<p>
  <strong>Brand:</strong>
  <%= @camper.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @camper.model %>
</p>

<p>
  <strong>Version:</strong>
  <%= @camper.version %>
</p>

<p>
  <strong>Display price:</strong>
  <%= @camper.display_price %>
</p>

<p>
  <strong>Price min:</strong>
  <%= @camper.price_min %>
</p>

<p>
  <strong>Price max:</strong>
  <%= @camper.price_max %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @camper.capacity %>
</p>

<p>
  <strong>Link:</strong>
  <%= @camper.link %>
</p>

<p>
  <strong>Gvm:</strong>
  <%= @camper.gvm %>
</p>

<p>
  <strong>Ball weight:</strong>
  <%= @camper.ball_weight %>
</p>

<p>
  <strong>Solar:</strong>
  <%= @camper.solar %>
</p>

<p>
  <strong>Roof rack:</strong>
  <%= @camper.roof_rack %>
</p>

<p>
  <strong>Alloy wheels:</strong>
  <%= @camper.alloy_wheels %>
</p>

<p>
  <strong>All terrain tyres:</strong>
  <%= @camper.all_terrain_tyres %>
</p>

<p>
  <strong>Mud tyres:</strong>
  <%= @camper.mud_tyres %>
</p>

<p>
  <strong>Twin spares:</strong>
  <%= @camper.twin_spares %>
</p>

<p>
  <strong>1000l water:</strong>
  <%= @camper.large_water %>
</p>

<p>
  <strong>Deep cycle batteries:</strong>
  <%= @camper.deep_cycle_batteries %>
</p>

<p>
  <strong>Diesel heating:</strong>
  <%= @camper.diesel_heating %>
</p>

<p>
  <strong>Air conditioning:</strong>
  <%= @camper.air_conditioning %>
</p>

<p>
  <strong>Tv:</strong>
  <%= @camper.tv %>
</p>

<p>
  <strong>Ensuite:</strong>
  <%= @camper.ensuite %>
</p>

<p>
  <strong>Hot water:</strong>
  <%= @camper.hot_water %>
</p>

<p>
  <strong>Independent suspension:</strong>
  <%= @camper.independent_suspension %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @camper.priority %>
</p>
